<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top shadow">
        <div class="container-fluid py-3">
          <a class="navbar-brand">DEEPTHI</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link px-4" href="#about">ABOUT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-4" href="#education">EDUCATION</a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-4" href="#skills">SKILLS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-4" href="#experience">EXPERIENCE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-4" href="#contact">CONTACT</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</div>